.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: var(--backgroundSecondary);
  padding: 2rem;
  border-radius: 8px;
  min-width: 700px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.closeButton {
  position: absolute;
  color: var(--primaryText);
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid var(--borderPrimary);
  padding-bottom: 0.5rem;
}

.modalContent {
  padding: 1rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--borderPrimary);
  padding-top: 1rem;
}